
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap In Practice - Landing Page Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<style>
html {
            background: url(img/6133364748_89f2365922_o.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            padding-top: 20px;
            font-size: 16px;
            font-family: "Open Sans",serif;
            background: transparent;
        }

        h1 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 40px;
        }

        /* Override B3 .panel adding a subtly transparent background */
        .panel {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .margin-base-vertical {
            margin: 40px 0;
        }
    </style>
</head>


<body>
      <h1> Do you have plans ?</h1>
 <div><blockquote>
  <p>Plans are the building steps to sucess,fail to plan and you plan to fail.</p>
  <footer>Newton Robert <cite title="Source Title">The truth</cite></footer>
</blockquote></div> 

    <p>
        Do you want to be more efficient ?
    </p> 
    
    <p>
        Do you have loads of tasks and plans ?
    </p>
    <p>
        Are you pre-occupied with dailly unorganised schedules and you feel the inconvenience ?
    </p>

    <p>
        <strong>plannerapp</strong> is your <strong>answer </strong> sighn up below and watch your time schedule transform.
    </p>

    <div><form action="/mailing-list" method="post">
        <p class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control input-lg" name="email" placeholder="tomarobaski@gmail.com" />
        </p>
        <p class="help-block"><small>We won't send you spam. Unsubscribe at any time.</small></p>
        <p>
            <button type="submit" class="btn btn-success btn-lg">Keep me posted</button>
        </p>
        </span>
    </form></div>

</body>
</html>