
<div class="container">
	<div class="row">
		<div class="span10">

			<div id="myCarousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class=""></li>
					<li data-target="#myCarousel" data-slide-to="1" class=""></li>
					<li data-target="#myCarousel" data-slide-to="2" class="active"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src=/home/newtom/plannerapp/public/drupal;.jpg alt="http://www.mattlockyer.com">
						<div class="carousel-caption">

							<h4>As A Team</h4>

							<p>We are a very creative grop of programmers from all over the world we love to visit places and we love to share the knowledge and help the society witht the skills that we have.</p>
						</div>
					</div>
					<div class="item">
						<img src="http://www.freefever.com/stock/beautiful-fairy-fairies.jpg"
						alt="http://www.freefever.com">

						<div class="carousel-caption">
							<h4>As A Family Of Coders</h4>

							<p>We do understand you problems and we try our level best to provide relevant softwares and apllicatons that work to solve them.We love humaitty and we share in its problems of </p>
						</div>
					</div>
					<div class="item">
						<img src="https://m.ak.fbcdn.net/sphotos-d.ak/hphotos-ak-ash4/1475875_10202644648428146_950925843_n.jpg "alt="http://www.facebook.com">
						<div class="carousel-caption">
						<h4>As Friends and People Of Influence label</h4>

							<p>We always strive to make positive impact in the society and provide free teaching and skills to the society and the world in general.We are ready for the world and it for us here we come.</p>
							<iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Ftomamwenywe&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
			</div>
		</div>
	</div>
</div>
<iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Ftomamwenywe&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true">
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></iframe>